/* Chapter Content */

/* Content Paragraph */
.content-paragraph {
    line-height: 1.8;
    color: var(--color-text-muted);
    font-size: 16px;
}

.content-paragraph p {
    margin-bottom: 1.5rem;
    text-indent: 1rem;
}

.content-paragraph p:last-child {
    margin-bottom: 0;
}

.content-paragraph b {
    color: var(--color-primary);
}

/* Score Elements */
#score-pointer {
    width: 2px;
}

#score-dot {
    transform: translate(-50%, -50%);
}
